.container-fluid {
    background-color: aliceblue;
    max-width: 450px;
    margin: auto;
    padding: 0 !important;
}

.body_of_login {
    padding: 20px;
}

.first {
    padding-right: 20px;
    padding-top: 29px;
    font-family: sans-serif;
    font-size: 32px;
}

.content {
    margin-left: 0px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 13px;
}

.sen {
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn_1 {
    color: white;
    background-color: #8d8d95;
    width: 100%;
    border: none;
    padding: 10px;
    margin-top: -15px;
}

.btn_2 {
    color: white;
    background-color: #21212d;
    width: 100%;
    border: none;
    margin-top: -15px;
}

.cls {
    width: 100%;
    min-height: 40px;
   
}

.mail-form input {
    padding: 13px 2px;
    font-size: 13px;
    outline: none;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #0e0e0e;
    border-radius: 0px;
    font-family: 'sans-serif';
    letter-spacing: 1.6px;
    color: #141313;
    margin-bottom: 15px;
    font-family:sans-serif;
}

@media screen and (max-width: 320px) {
    .login_box {
        padding: 20px;
    }
}
@media screen and (max-width: 425px) {
    .login_box {
        padding: 20px;
    }
}